<footer class="footer-48201 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 pr-md-5">
                <a href="#" class="footer-site-logo d-block mb-4">eSoft AI Space</a>
                <p>We, esoftians provide you the best of the best outcomes. Feel free to contact us.</p>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about_page">About Us</a></li>
                    <li><a href="/services_page">Services</a></li>
                    <li><a href="/contact_page">Contact</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Journal</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="col-md text-md-center">
                <ul class="social list-unstyled">
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-pinterest"></span></a></li>
                    <li><a href="#"><span class="icon-dribbble"></span></a></li>
                </ul>
                <p class=""><a href="/contact_page" class="btn btn-tertiary">Contact Us</a></p>
            </div>
        </div>
        <div class="analytic_bottom_line">
            <div class="text-center">
                <div class="copyright">
                    <p class="analytics_P">&copy; 2019-2020 All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
